@using _5_1_stackoverflow.data
@model QuestionViewModel
@{
    ViewData["Title"] = "Question";
}
<style type="text/css">
    .tag-border {
        border: 1px solid dimgray;
        border-radius: 5px;
    }
</style>

<div class="row">
    <div class="well col-md-8 col-md-offset-2">
        <h2>@Model.Question.Title</h2>
        <p>@Model.Question.Text</p>
        <br />
        <span>Tags:</span>
        @foreach (var t in Model.Question.QuestionTags)
        {
            <span class="label label-success " style="display: inline-block">  @t.Tag.Name  </span>
        }
        <br />
        @if (Model.LoggedIn)
        {
            @if (Model.AlreadyLiked)
            {
                <button id="like-button" disabled class="btn btn-primary " data-id="@Model.Question.Id">LIKE</button>

            }
            else
            {
                <button id="like-button" class="btn btn-primary " data-id="@Model.Question.Id">LIKE</button>
            }
            <span>Current Likes:</span> <span id="likes-count">@Model.Question.Likes.Count</span>
            <br />
        }



    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h3>Answers:</h3>
    </div>
</div>

@if (Model.Question.Answers != null)
{
    @foreach (Answer a in Model.Question.Answers)
    {
<div class="row">
    <div class="well col-md-8 col-md-offset-2">
        <p>@a.Text</p>
    </div>
</div>
    }
}



@if (Model.LoggedIn)
{
<div class="row">
    <div class="col-md-8 col-md-offset-2 well">
        <h2>Submit an answer</h2>
        <form method="post" action="/home/answerquestion">
            <textarea class="form-control" rows="10" name="text" placeholder="Your Answer"></textarea>
            <input type="hidden" id="question-id" name="question.id" value="@Model.Question.Id" />
            <button class="btn btn-info">Answer</button>
        </form>
    </div>
</div>
}






@*<div  class="well col-md-9 col-md-offset-1" style="text-align:center; margin-top:40px">
        <h2>@Model.Question.Title</h2>
        <textarea class="form-control" rows="15" readonly>@Model.Question.Text</textarea>
        <h5 class="row pull-left col-lg-offset-0">
            @foreach (var t in Model.Question.QuestionTags)
            {
            <span style="font-size:17px; display: inline-block" class="label label-success ">  @t.Tag.Name  </span>
            }
        </h5>
        <br />
        @if (Model.LoggedIn)
        {
            @if (Model.AlreadyLiked)
            {
                <button id="like-button" disabled class="btn btn-primary " data-id="@Model.Question.Id">LIKE</button>

            }
            else
            {
                <button id="like-button" class="btn btn-primary " data-id="@Model.Question.Id">LIKE</button>
            }
            <p>Current Likes:</p> <span id="likes-count">@Model.Question.Likes.Count</span>
            <br />
        }

        @if (Model.Question.Answers != null)
        {
            @foreach (Answer a in Model.Question.Answers)
            {
                <div class="well col-md-8 col-md-offset-2">
                    <p>@a.Text</p>
                </div>
            }
        }



        @if (Model.LoggedIn)
        {
            <form method="post" action="/home/answerquestion">
                <textarea cols="75" rows="10" name="text" placeholder="Your Answer"></textarea>
                <input type="hidden" id="question-id" name="question.id" value="@Model.Question.Id" />
                <button class="btn btn-info">Answer</button>
            </form>
        }

    </div>*@

@section scripts{
    <script src="~/js/Question.js"></script>
}